/* Work.css */

.work-section {
  padding: 80px 0;
  background-color: #f8f9fa;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.work-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.work-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.work-card .card-body {
  text-align: center;
}

.image-container {
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.work-card .card-img-top {
  max-height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

.image-container:hover .card-img-top {
  transform: scale(1.1);
}
